* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  margin: 130px 80px;
  background-color: gold;
  font-family: "Montserrat", sans-serif;
}

.container-allpokemon {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: hsl(51, 100%, 66%);
}

.items {
  border: 1px red solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

img {
  height: 300px;
}

.button-59 {
  font-family: "Montserrat", sans-serif;
  margin: 10px;
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-59:focus {
  color: #171e29;
}

.button-59:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.button-59:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}
